.privacy-policy {
  display: block;
  max-width: 623px;
  height: auto;
  margin: 45px auto 0px auto;
  h3 {
    font-size: 24px;
    text-align: center;
    color: #212020;
    font-family: "SF Pro Text, Regular";
    margin: 0px 0px 44px 0px;
    line-height: 27px;

  }
  p,h4 {
    font-size: 18px;
    font-family: 'SF Pro Text, Regular';
    color: #1F1C1C;
    margin: 0px 0px 25px 0px;
  }
  P {
    font-size: 14px;
    line-height: 21px;
  }
  h4 {
    color: #2F80ED;
   }

}
