.sign-in-form {
  .forgot-password,.sign-up {
    display: block;
    margin: 57px 0px 0px 0px;
    text-align: center;
    a {


      font-size: 16px;
      font-family: 'SF Pro Text, Medium';
    }

  }
  form {
    button {
      margin: 36px auto 0px auto;
    }
  }
.sign-up {
  margin: 34px 0px 118px 0px;
}

}
