.forgot-password {
  display: block;
  width: 625px;
  height: auto;
  margin: 50px auto 0px auto;
  .arrow-back {
    display: block;
    width: 7px;
    height: 15px;
    background: url("/assets/img/ic_arrow_left.svg") no-repeat;
    cursor: pointer;

  }
  .form-fon {
    margin: 132px auto 0px auto;
    h3 {
      font-family: 'Comfortaa', cursive;
      font-weight: bold;
      margin: 0px 0px 20px 0px;
    }
    p {
      margin: 0px 0px 77px 0px;
    }
    form {
      button {
        margin: 98px auto 35px auto;
      }
    }
  }
}
