<div class="forgot-password">
    <a routerLink="/sign-in" routerLinkActive="active" class="arrow-back"></a>

  <div class="form-fon">
  <h3>Forgot Password</h3>
  <p>Please enter your email below to receive your password reset instruction</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
    <input type="text"  formControlName="email"  placeholder="E-mail" required />
    <div *ngIf="submitted && registerForm.controls['email'].errors" class="invalid-feedback">
      <p *ngIf="registerForm.controls['email'].errors.pattern">This address does not exist</p>
    </div>
      </div>
  <button type="submit">Send</button>
</form>
</div>
</div>
