<div class="reset-password">
    <a routerLink="/forgot-password" routerLinkActive="active" class="arrow-back"></a>
    <div class="form-fon">

  <h3>Forgot Password</h3>
  <p>Reset code was sent to your Email. Please enter the code and create new password</p>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
    <input type="number"  formControlName="code"  placeholder="Code" required />
    <div *ngIf="submitted && registerForm.controls['code'].errors" class="invalid-feedback">
        <p *ngIf="registerForm.controls['code'].errors.required">Code is required</p>
    </div>
      </div>
    <div class="form-group">
    <input type="password" formControlName="password" placeholder="Password" required (keyup)="checkField($event)" />
    <div class="visible-field" (click)="toogleField($event)"></div>
    <div *ngIf="submitted && registerForm.controls['password'].errors" class="invalid-feedback">
      <p *ngIf="registerForm.controls['password'].errors.required">Password is required</p>
      <p *ngIf="registerForm.controls['password'].errors.minlength">Password must be at least 8 characters long</p>
    </div>
    </div>
    <div class="form-group">
    <input type="password" formControlName="confirmPassword" placeholder="Confirm password" required  (keyup)="checkField($event)"/>
    <div class="visible-field" (click)="toogleField($event)"></div>
    <div *ngIf="submitted && registerForm.controls['confirmPassword'].errors" class="invalid-feedback">
        <p *ngIf="registerForm.controls['confirmPassword'].errors.required">Confirm Password is required</p>
        <p *ngIf="registerForm.controls['confirmPassword'].errors.mustMatch">Password do not match</p>
    </div>
    </div>
    <button type="submit">Change Password</button>
  </form>
</div>
</div>
